[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
countryName = EG
organizationName = Egypt Trust
organizationIdentifier = VATEG-382029216
commonName = Test Sealing Demo user1

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = critical,digitalSignature,nonRepudiation
extendedKeyUsage = clientAuth,emailProtection
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
crlDistributionPoints = URI:http://mpkicrl.egypttrust.com/EgyptTrustCorporateCAG2/LatestCRL.crl
certificatePolicies = @policy_section

[policy_section]
policyIdentifier = 1.2.840.113549.1.1.11
CPS.1="http://www.egypttrust.com/repository"
userNotice.1=@notice_section

[notice_section]
explicitText="Egypt Trust Sealing Certificate"